$sm: 576px; // Mobile
$md: 768px; // Tablet - Portrait
$lg: 1024px; // Tablet - Landscape
$mlg: 1280px; // desktop - Landscape
$xl: 1440px; // Large Desktop
$xxl: 1920px; // Larger Desktop

@mixin breakpoint($direction, $size) {
  @if $size== "sm" {
    $size: $sm;
  } @else if $size== "md" {
    $size: $md;
  } @else if $size== "lg" {
    $size: $lg;
  } @else if $size== "mlg" {
    $size: $mlg;
  } @else if $size== "xl" {
    $size: $xl;
  } @else if $size== "xxl" {
    $size: $xxl;
  }

  @if $direction== "up" {
    $direction: "min-width";
  } @else if $direction== "down" {
    $direction: "max-width";
    $size: $size - 1;
  }

  // Now for the actual content!
  @media ($direction: $size) {
    @content;
  }
}
